.row-content {
    margin: 0px auto;
    padding: 25px 0px 50px 0px;
}

.row-header {
    margin: 0px auto;
    padding: 0px;
}

.gap {
    margin-top: -10px;
    margin-bottom: 10px;
}

.bg-lt {
    background: skyblue;
}

.hgt {
    height: 150px;
}

body {
    background: floralwhite;
}


.mb20 {
    margin-bottom: 20px;
}

#upload-modal .modal-body {
    background: floralwhite;
}

#bg-col {
    background-color: rgb(231, 194, 114);
}

.bd {
    height: 100%;
}

.navbar-dark {
    background: rgb(240, 201, 72);
}

.navbar-brand {
    color: black !important;
    font-weight: bold !important;
    font-size: 200%;
}

.nav-link {
    color: white !important;
}

.nav-link.active {
    font-size: 110% !important;
    color: black !important;
}

.nav-link:hover {
    color: rgb(77, 77, 77) !important;
    margin-right: 3px;
    margin-left: 3px;
}

.navbar-brand img {
    width: 54px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 8px;
}

.footer {
    background-color: rgb(245, 236, 187);
    margin-top: auto;
    padding: 20px 0px 0px 0px;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
}

#delete-modal .modal-header {
    background-color: rgb(231, 194, 114);
}

#delete-modal .modal-body {
    background: floralwhite;
}

nav .container {
    font-size: 120% !important;
}

.carousel-indicators li {
    background-color: lightgrey !important;
    height: 7px;
}

.carousel-indicators li.active {
    background-color: black !important;
}

.card-body img {
    width: 300px;
    height: 300px;
}

dt {
    font-size: 250%;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 0;
}

.carousel-caption {
    color: black;
}

#dps-button {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.jumbotron {
    height: 150px;
}

.jumbotron  div  div {
    font-size: 1.5em;
}

.th {
    font-size: 2.5em;
}


.table-height {
    height: 365px !important;
}

.bdy {
    font-size: 1.4em;
}

.about-us {
    height: 123px;
}

.index {
    height: 60px;
}

.data {
    height: 0px;
}

@media (max-width:575px) {
    .carousel-item img {
        position: relative;
        height: 250px;
    }
    .about-us {
        height: 2px;
    }
    .index {
        height: 2px;
    }
    .data {
        height: 10px;
    }
    dt {
        font-size: 150%;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 130%;
    }
    .navbar-nav {
        font-size: 86% !important;
    }
    .card img {
        font-size: 150%;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .navbar-brand {
        font-size: 160%;
    }
}